meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="title" content="Snapshift : planning et gestion du personnel pour les restaurants")
meta(name="robots" content="index, follow")
meta(name="description" content="Gestion du personnel en ligne pour la restauration rapide, cafés, hôtels et restaurants. Plannings, management, communication interne, reporting.")
meta(name="keywords" content="planning en ligne, gestion restaurant, gestion du personnel, temps partiel, turnover restauration, restauration rapide, management restauration")
meta(name="language" content="fr")
title Snapshift
link(rel="shortcut icon", href="https://app.snapshift.co/images/favicon.png")
link(rel='stylesheet', href='main.css')
