nav.nav.scrolled
	.logo
		img(src="images/logo.png")
	.menu
		a(href="https://app.snapshift.co/users/sign_in") Connexion
		a.button(href="https://app.snapshift.co/users/sign_up") Compte gratuit
