/*
** Users section
**
*/

#users {
	background-color: @text-accent;
	padding-bottom: 80px;
	@media (max-width: 768px) {
		padding-bottom: 60px;
	}
	.container {
		justify-content: center;
		flex-grow: 0;
		display: flex;
		flex-direction: column;
	}
	.row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-top: 30px;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	.logo {
		mix-blend-mode: darken;
		display: flex;
		align-items: center;
		img {max-height: 90px; max-width: 100%;}
		@media (max-width: 768px) {
			flex: 30% 0 0;
			margin-bottom: 1em;
			justify-content: center;
			img {max-width: 100%;}
		}
	}
}
