doctype html
html
	head
		include partials/head
	body
		#home
		include partials/navigation
		section#hero
			.background
			.container
				.main-title.
					Occupez-vous de vos clients.<br>
					On s'occupe de votre personnel.
				.sub-title.
					Plannings en ligne - préparation de paie automatisée - administratif simplifié
				a.button(href="https://app.snapshift.co/users/sign_up") Essayez maintenant. Gratuitement.
		section#users
			.container
				h2 Ils utilisent Snapshift
				.row
					.logo
						img(src="images/logos/bocamexa.png")
					.logo
						img(src="images/logos/bigfernand.png")
					.logo
						img(src="images/logos/amorino.png")
					.logo
						img(src="images/logos/lespetitesgouttes.png")
					.logo
						img(src="images/logos/lacamion.png")
					.logo
						img(src="images/logos/hardrock.png")
		section#planning
			.container
				.col
					.heading.
						Faites vos plannings en ligne. Bim.<br>
						Publiez. Bam.<br>
						C’est sur le mobile de votre staff. Boum.
					.text.
						Vous réalisez vos plannings en quelques clics. Pour vous éviter de faire des erreurs, les disponibilités de chaque employé, absences prévues et congés s'affichent sur le planning. Vos employés consultent leurs emplois du temps en ligne, ils sont avertis en temps réel des modifications. En cas d'imprévu vos équipes peuvent même échanger leurs postes !
				.col.img-col
					img.img.img-right.img-planning.notVisible(src="images/planning.png")
		section#presences
			.container
				.col.img-col
					img.img.img-left(src="images/presences.png")
				.col
					.heading.
						Fini la corvée des paies.<br>
						Heures, absences, congés : tout est là,<br>
						automatiquement.
					.text.
						Vos employés valident leurs heures réelles en ligne, même sur leur mobile. Vous avez une visibilité en temps réel des heures réalisées. Vos employés suivent leurs heures. Plus de mauvaise surprise à la fin du mois. Le fichier de paie est préparé automatiquement pour votre comptable.
		section#profil
			.container
				.col
					.heading.
						Le choc de simplification, nous l'avons fait :)
					.text.
						Entrez les informations une fois dans Snapshift et c'est fini : contrats, avenants, DPAE, justificatifs, demandes de congés, feuilles de présence --- tous les documents sont liés, rangés, en ligne.
				.col.img-col
					img.popup-img.img-contract.notVisible(src="images/contrat.png")
					img.img.img-right(src="images/profil.png")
		section#pricing
			.container
				.main-title Un tarif unique à 3€ HT / mois par salarié*.
				.sub-title.
					30 jours d'essai gratuit, sans carte bancaire.<br>
					Aucun engagement et la liberté d'interrompre sans préavis.
				a.button(href="https://app.snapshift.co/users/sign_up") Démarrer mon essai gratuit
				.bottom
					.mention * avec un minimum de 15€
		section#footer
			.container
				.social
					a.icon(href="https://www.facebook.com/snapshift.co")
						img(src="images/fb-icon.svg")
					a.icon(href="https://twitter.com/snapshiftco")
						img(src="images/tw-icon.svg")
				nav.links
					a(href="fr/a_propos.html").item Qui sommes nous ?
					a(href="fr/mentions_legales.html").item Mentions légales
					a(href="fr/politique_de_confidentialite.html").item Politique de confidentialité
				.logo
					img.img(src="images/logo.svg")
				.love Fait maison avec ❤ en France
		script(src="vendors/jquery.min.js")
		script(src="vendors/ScrollMagic.min.js")
		script(src="vendors/animation.gsap.min.js")
		script(src="vendors/TweenMax.min.js")
		script(src="main.js")
