doctype html
html
	head
		include partials/head
	body
		#home
		include partials/navigation
		section#hero
			.background
			.container
				.main-title.
					Occupez-vous de vos clients.<br>
					Nous nous occupons de votre personnel.
				.sub-title.
					Plannings en ligne - préparation de paie automatisée - administratif simplifié
				button Essayez maintenant. Gratuitement.
		section#users
			.container
				h2 Ils utilisent Snapshift
				.row
					.logo
						img(src="images/logos/bocamexa.png")
					.logo
						img(src="images/logos/bigfernand.png")
					.logo
						img(src="images/logos/amorino.png")
					.logo
						img(src="images/logos/lespetitesgouttes.png")
					.logo
						img(src="images/logos/lacamion.png")
					.logo
						img(src="images/logos/hardrock.png")
		section#planning
			.container
				.col
					.heading.
						Faites vos plannings en ligne. Bim.<br>
						Publiez. Bam.<br>
						C’est sur le mobile de votre staff. Boum.
					.text.
						Vous réalisez vos plannings en quelques clics. Les disponibilités de chaque employé, absences prévues et congés s'affichent sur le planning, pour vous éviter de faire des erreurs. Vos employés consultent leurs emplois du temps en ligne, ils sont avertis en temps réel des modifications. En cas d'imprévu vos équipes peuvent même échanger leurs postes.
				.col.img-col
					img.img.img-right.wow.slideInRight(src="images/planning.png")
		section#presences
			.container
				.col.img-col
					img.img.img-left(src="images/presences.png")
				.col
					.heading.
						Fini la corvée des paies.<br>
						Heures, absences, congés : tout est là,<br>
						automatiquement.
					.text.
						Vos employés valident leurs heures réelles en ligne, même sur leur mobile. Vous avez une visibilité en temps réel des heures réalisées. Vos employés suivent leurs heures. Plus de mauvaise surprise à la fin du mois.
		section#profil
			.container
				.col
					.heading.
						Contrats, avenants, DPAE, justificatifs, demandes de congés, feuilles de présence : c’est rangé, en ligne.
					.text.
						Contrats de travail et avenants, DPAE, Registre Unique du Personnel, congés payés, documents administratifs, feuilles de présences, export paie, accès cabinet comptable.
				.col.img-col
					img.popup-img.wow.zoomIn(src="images/contrat.png")
					img.img.img-right(src="images/profil.png")
		section#pricing
			.container
				.main-title Un tarif unique à 3€ HT / mois par salarié*.
				.sub-title.
					30 jours d'essai gratuit, sans carte bancaire.<br>
					Aucun engagement et la liberté d'interrompre sans préavis.
				button Démarrer mon essai gratuit
				.bottom
					.mention * avec un minimum de 15€
		section#footer
			.container
				.social
					a.icon(href="#")
						img(src="images/fb-icon.svg")
					a.icon(href="#")
						img(src="images/tw-icon.svg")
				nav.links
					a(href="#").item Qui sommes nous ?
					a(href="#").item Presse
					a(href="#").item Mentions légales
					a(href="#").item Politique de confidentialité
					a(href="#").item Contact
				.logo
					img.img(src="images/logo.svg")
				.love Fait maison avec ❤ en France
		script(src="vendors/jquery.min.js")
		script(src="vendors/wow.min.js")
		script(src="main.js")
