/*
**	StyleSheet for Snapshift
**
**	Created by Nicolas T.
*/

@import 'base/normalize';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700';

@text-accent: #ffffff;
@text-default: #212a49;
@text-light: #c3c6d0;

@primary-color: #61b6fd;
@primary-hover: #4aa3ee;
@secondary-color: #5964ab;

@background-color: #f8f9fb;
@background-secondary: #212a49;
@navbar-color: #212a49;

@import 'components/buttons';
@import 'components/navigation';
@import 'components/sections';

/*! HTML5 Boilerplate v5.0  */
* {box-sizing: border-box;}
html { color: @text-default; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
a {color:inherit;text-decoration: none;}

/*! Snapshift Styles */
body {
	font-size: 14px;
	font-family: Ubuntu, Helvetica, Helvetica Neue, Arial;
	font-weight: 500;
	line-height: 20px;
}

h2 {line-height: 1.67;}

section {
	display: flex;
	flex-direction: column;
	&:not(:first-of-type) {padding: 55px 0;}
}

.container {
	width: 970px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	.col {
		display: flex;
		flex-direction: column;
		flex: 50% 0;
		padding: 0 10px;

	}
}

.heading {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
}
.text {
	font-weight: 300;
}
