/*
**	StyleSheet for Snapshift
**
**	Created by Nicolas T.
*/

@import 'base/normalize';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700';
@import 'base/grid';

/*! HTML5 Boilerplate v5.0  */
* {box-sizing: border-box;}
html { color: @text-default; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
a {color:inherit;text-decoration: none;}

@text-accent: #ffffff;
@text-default: #212a49;
@text-light: #c3c6d0;
@text-hover: #212a49;

@primary-color: #61b6fd;
@primary-hover: #4aa3ee;
@secondary-color: #5964ab;

@background-color: #f8f9fb;
@background-secondary: #212a49;

@import 'base/typography';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/images';

@import 'sections/hero';
@import 'sections/users';
@import 'sections/planning';
@import 'sections/presences';
@import 'sections/profil';
@import 'sections/pricing';
@import 'sections/footer';

/*! Snapshift Styles */
body {
	font-size: 14px;
	font-family: Ubuntu, Helvetica, Helvetica Neue, Arial;
	font-weight: 500;
	line-height: 20px;
	overflow-x: hidden;
	background: @background-color;
}
