/*
** Images
**
*/

.img-col, .col-img {
	display: block;
	img {
		max-height: 50vh;
		box-shadow: 0 0 21px 0 #e2e5ee;
		@media (max-width: 768px) {
			margin: 0;
			max-width: 100%;
		}
	}
}
.img-right {
	margin-left: ~"calc(100% - 20em)";
}
.img-left {
	margin-right: ~"calc(100% - 20em)";
}


.icon {
	display: inline-block;
	&:hover {fill: @text-hover;}
	&:first-of-type {padding-right: 15px;}
}


.img-planning {
	margin-left: 40%;
	&.notVisible {visibility: hidden;}
}

.img-contract {
	&.notVisible {display: none;}
}
